.tabWrapper {
    position: relative;
    margin: 0 auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    width: 75vw;
    height: 100vh;
    padding: 0 150px;
    font-family: 'Arial', serif;
}

.tabSkew {
    transform: skewX(-15deg);
    border: 1px solid #000;
    background-color:#909090;
    flex: 1;
    height: 100%;
    transition: 0.8s ease;
    color: rgb(252, 255, 221);
    filter: blur(8px);
    box-shadow: inset 0px 0px 15px 10px rgb(37, 37, 37);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    font-size: 0;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}

.tabSkew:active {
    color:rgb(168, 168, 168);
}

.tabSkew:hover {
    flex: 7;
    filter: none;
    font-size: 64px;
}

.tabSkew {
    position: relative;
}

.tabSkew:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewX(15deg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 80%;
}

.tabSkew:nth-child(1):after {
    background-image: url('./../../assets/home/siluet.png');
}

.tabSkew:nth-child(2):after {
    background-image: url('./../../assets/home/papers.png');
    background-size: 50%;
    opacity: 0.4;
}

.tabSkew:nth-child(3):after {
    background-image: url('./../../assets/home/tech.png');
    background-size: 50%;
    opacity: 0.5;
}

.tabSkew:nth-child(4):after {
    background-image: url('./../../assets/home/phone.png');
    background-size: 50%;
    opacity: 0.7;
}

.tabSkew:nth-child(1):hover {
    background-color: #5c6f80;
}

.tabSkew:nth-child(2):hover {
    background-color: #94859c;
}

.tabSkew:nth-child(3):hover {
    background-color: #b2c5a9;
}

.tabSkew:nth-child(4):hover {
    background-color: #bec29f;
}

.tabContent {
    transform: skewX(15deg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.card1 {
    position: absolute;
    top: 10px;
    width: 100px;
    left: 10px;
    height: 100px;
    z-index: -2;
    background: url('../../assets/home/css.png') no-repeat 50%/cover;
    filter: blur(1px) grayscale(0.5);
  }
  
  .card2 {
    position: fixed;
    top: 250px;
    width: 200px;
    left: 50px;
    height: 200px;
    z-index: -1;
    background: url('../../assets/home/html.png') no-repeat 50%/cover;
    filter: blur(1px);
    opacity: 0.4;
  }
  
  .card3 {
    position: fixed;
    bottom: 100px;
    left: 100px;
    width: 200px;
    height: 250px;
    background: url('../../assets/home/js.png') no-repeat 50%/contain;
    filter: blur(1px) grayscale(0.5);
    opacity: 0.5;
    transform-style: preserve-3d;
  }
  
  .card4 {
    position: fixed;
    top: 30vh;
    right: 75px;
    width: 175px;
    height: 175px;
    z-index: -1;
    background: url('../../assets/home/react.png') repeat-x 50%/contain;
    filter: blur(1px);
  }
  
  .card5 {
    position: fixed;
    top: calc(30vh + 160px);
    right: 95px;
    width: 150px;
    height: 150px;
    z-index: -1;
    background: url('../../assets/home/redux.svg') no-repeat 50%/contain;
    filter: blur(1px) grayscale(0.5);
  }

  .card6 {
    position: fixed;
    bottom: 10px;
    right: 100px;
    width: 200px;
    height: 200px;
    z-index: -1;
    background: url('../../assets/home/node.svg') no-repeat 50%/contain;
    filter: blur(1px) grayscale(0.5);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(.25, .1, .25, 1);
  }

  .bg-card {
    position: fixed;
    left: -5vw;
    bottom: 0;
    width: 110vw;
    height: 100vh;
    z-index: -2;
    opacity: 0.5;
    background: url('../../assets/home/main-bg.jpg') no-repeat 50%/cover;
  }

  @media (max-width: 1365px) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        display: none;
    }
    .tabWrapper {
        width: 100vw;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .tabSkew {
        flex: inherit;
        flex-grow: 0;
        width: 40vw;
        height: 40%;
        max-height: 40vw;
        transform: none;
        filter: none;
        font-size: 24px;
        border-radius: 10px;
        
    }
    .tabSkew:after {
        transform: none;
        z-index: auto;
    }
    .tabSkew:hover {
        font-size: 24px;
        flex: inherit;
    }
    .tabContent {
        padding-top: 20px;
        transform: none;
        align-items: flex-start;
        text-shadow: 1px 1px 3px #000;
    }
    .tabSkew:nth-child(1) {
        background-color: #5c6f80;
    }
    
    .tabSkew:nth-child(2) {
        background-color: #94859c;
    }
    
    .tabSkew:nth-child(3) {
        background-color: #b2c5a9;
    }
    
    .tabSkew:nth-child(4) {
        background-color: #bec29f;
    }
    .tabSkew:nth-child(n + 1):after {
        background-size: contain;
        opacity: 0.3;
    }
  }

  @media (max-width: 467px) {
    .tabSkew {
        flex: inherit;
        flex-grow: 0;
        width: 90vw;
        height: 40%;
        max-height: 40vw;
        transform: none;
        filter: none;
        font-size: 24px;
        border-radius: 10px;
    }
    .tabSkew:nth-child(n + 1):after {
        background-size: 25%;
    }
  }
  